html, body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  text-align: center;
}

@mixin display-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block {
  height: 90%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.empty_block {
  height: 90%;
  width: 100%;
  text-align: center;
  display: none;

  .empty_block__information {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 5vw;
    font-family: Lato;
    color: #555;
    padding: 0 2%;

    .empty_block__information_hyperlink {
      outline: none;
      text-decoration: none;
      color: #337ab7;

      &:hover {
        cursor: pointer;
        color: #337ab7;
      }
    }
  }
}

.fa {
  cursor: pointer;
}

.fa-info-circle:hover, .fa-pie-chart:hover, .fa-sticky-note:hover {
  font-size: 110px;
}

.add_goal__modal__form_label {
  @include display-flex();
  color: #34495e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.add_goal__modal__form {
  @include display-flex();
}

.add_goal__modal__form_name {
  outline: none;
  border: 1px solid #34495e;
}

.add_goal__modal__form_submit {
  display: block;
  outline: none;
  background-color: #34495e;
  color: white;
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 3% 8%;
}

.adder:hover {
  cursor: pointer;
}
