@mixin display-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block__others {
  width: 35%;
  height: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15), 0px 1px 16px -3px rgba(24, 24, 28, 0.35) !important;
  float: left;

  .block__others__information {
    display: block;
    width: 100%;
    height: 80%;

    .information__goal_name {
      width: 100%;
      height: calc(100% / 3);
      border-bottom: 1px solid rgba(24, 24, 28, 0.45);
      text-align: center;
      margin: 0 auto;

      .information__goal_name__label {
        font-size: 24px;
        font-weight: bold;
        color: #34495e;
      }

      .information__goal_name__name textarea {
        width: 50%;
        outline: #202020;
        border: 1px solid lightgray;
        text-align: left;
        font-size: 14px;
        line-height: 19px;
        padding: 8px 8px;
        border-radius: 1%;
        font-family: "Open Sans","Helvetica",Arial,sans-serif;
        color: black;
        resize: none;
        overflow: hidden;
      }

      .information__goal_name__buttons input {
        width: 20%;
        background-color: #34495e;
        color: white;
        text-align: center;
        border: none;
        font-size: 18px;
        font-weight: bold;
        float: left;
        margin-right: 20px;
        padding: 1%;
      }
    }

    .information__goal_off_days {
      width: 100%;
      height: calc(100% / 3);
      border-bottom: 1px solid rgba(24, 24, 28, 0.45);
    }

    .information__goal_advantages {
      width: 100%;
      height: calc(100% / 3);
    }
  }

  .block__others__chart {
    display: none;
    width: 100%;
    height: 80%;
  }

  .block__others__notes {
    display: none;
    width: 100%;
    height: 80%;
  }

  .block__others__changer {
    width: 100%;
    height: 20%;
    border-top: 1px solid rgba(24, 24, 28, 0.45);

    .block__others__changer_info {
      @include display-flex();
      width: calc(100% / 3);
      height: 100%;
      font-size: 90px;
      float: left;
      color: #34495e;
      border-right: 1px solid rgba(24, 24, 28, 0.45);
    }

    .block__others__changer_chart {
      @include display-flex();
      width: calc(100% / 3);
      height: 100%;
      font-size: 90px;
      float: left;
      color: #34495e;
      border-right: 1px solid rgba(24, 24, 28, 0.45);
    }

    .block__others__changer_notes {
      @include display-flex();
      width: calc(100% / 3);
      height: 100%;
      font-size: 90px;
      float: left;
      color: #34495e;
    }
  }
}