html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
}

.sidebar {
  height: 100%;
  width: 73px;
  background-color: #f8f8f8;
  color: #34495e;
  border-right: 1px solid #ececec;
  float: left;
  position: relative;

  .sidebar__logo {
    height: 72px;
    width: 100%;
    line-height: 72px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .sidebar__options {
    width: 100%;
    height: auto;
    margin-bottom: 100%;

    .sidebar__options_option {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 38px;
    }
  }

  .sidebar__pages {
    width: 100%;
    height: auto;

    .sidebar__pages_option {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 38px;
    }
  }

  .sidebar__user_options {
    height: 72px;
    width: 100%;
    line-height: 72px;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 34px;
    margin-top: 72px;

    //@media (max-height: 600px){
    //  position: static;
    //  margin-top: 72px;
    //}
  }
}

