<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FlowFriend - strona główna!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
        <a class="btn btn-default btn-lg" th:href="@{http://localhost:8080/main}">Kalendarz!</a> <br />
        <input class="btn btn-default btn-lg" type="submit" value="Wyloguj się!"/>
</form>
</body>
</html>