html,
body {
  height: 100%;
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 75px;
  background-color: #f8f8f8;
  color: #34495e;
  border-right: 1px solid #ececec;
  opacity: 0;
  overflow: hidden;
  transition: ease 0.5s;
  float:left;

  &.active{
    opacity: 1;
    overflow: visible;
  }
}

.element {
  width: 100%;
  height: 75px;
  transition: 0.2s;
  text-align: center;
  vertical-align: middle;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 75px;
  border-bottom: 1px solid #ececec;

  &:hover{
    background-color: #34495e;
    color: #f8f8f8;
  }
}

.navbar{
  width:100%;
  height: 75px;
  border-bottom: 1px solid #ececec;
  background-color: #f8f8f8;
  color: #34495e;
  text-align: center;
  vertical-align: middle;
  font-family: Roboto;
  font-size: 24px;
  line-height: 75px;
  display: inline-block;
  margin: 0;

  #left{
    width: 75px;
    height: 100%;
    font-size: 22px;
    float: left;
    margin: 0;
  }

  #right{
    width: 75px;
    height: 100%;
    font-size: 22px;
    float: left;
  }

  #center{
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    line-height: 75px;
    width: calc(100% - 225px);
  }
}

i:hover{
  cursor: pointer;
}

.filler {
  display: flex !important;
  justify-content:center;
  align-content:center;
  flex-direction:column; /* column | row */
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .20), 0 2px 2px rgba(0, 0, 0, .15), 0px 1px 16px -3px rgba(24, 24, 28, 0.35) !important;
  text-align: center;
  font-family: 'Encode Sans', sans-serif !important;
  font-weight: bold;
  font-size: 80px;
}

.calendar {
  float: left;
  width: 500px;
  margin-right: 6px !important;
}

.info, .calendar_goals{
  width: calc((100% - 512px) / 2);
  height: 713px;
  background-color: white;
  float: left;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .20), 0 2px 2px rgba(0, 0, 0, .15), 0px 1px 16px -3px rgba(24, 24, 28, 0.35) !important;
}

.info{
  margin-left: 6px !important;
}

.optionBar{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
}

.tab-pane{
  margin: 2% !important;
  font-family: Montserrat !important;
  font-size: 14px !important;
  color: #e74c3c !important;
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: white !important;

  &:hover{
    color: #337ab7 !important;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #1abc9c !important;
}

.list_goals{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  border-right: 0;
}

.fa.fa-plus-circle{
  font-size: 32px;
}

.goal_adder{
  width: 100% !important;
  height: 80px !important;
  display: inline-block !important;
  background-color: white;
  color: #2ecc71;
  transition: 0.5s;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover{
    color: white;
    background-color: #2ecc71;
  }
}

#name, #edit_name{
  outline: rgb(32, 32, 32);
  border: 1px solid rgb(211,211,211);
  //height: 35px;
  height: auto !important;
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  padding: 8px 8px;
  border-radius: 1%;
  width: 100%;
  font-family: "Open Sans","Helvetica",Arial,sans-serif;
  color: black;
  margin-bottom: 6px;
}

#chart_changer{
  outline: none;
  margin: 0 auto;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  height: auto;
  padding: 3px;
  color: rgb(41, 128, 185);
  font-weight: bold;
  display: block;
}

//#name{
//  overflow: hidden !important;
//  resize: none;
//}

#labelek, #edit_labelek, .add_error{
  text-align: left;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  color: #5c5c5c;
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
  margin-bottom: 4px;
}

.add_error{
  color: rgb(231, 76, 60) !important;
  display: none;
  margin-bottom: 0 !important;
  margin-top: 4px;
}

#buttonek, #edit_buttonek{
  width: 100px;
  height: 30px;
  background-color: #34495e;
  color: white;
  text-align: center;
  line-height: normal !important;
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  display: block;
  margin-left: 0;
}

.slide{
  width: 100%;
  height: 80px;
  color: #34495e;
  border: 1px solid rgba(0, 0, 0, .3) !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:hover{
    cursor: pointer;
  }

  &:nth-of-type(1){
    border-top: 1px solid rgba(0, 0, 0, .3) !important;
  }

  &:nth-last-of-type(1){
    border-bottom: 2px solid rgba(0, 0, 0, .3) !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

.goal_grip {
  width: 8%;
  height: 100%;
  font-size: 28px;
  font-family: Montserrat;
  font-weight: bold;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal !important;
  text-align: center;
  cursor: move;
  color: #34495e;
  border-right: 2px solid rgba(0, 0, 0, .3);

  & i{
    cursor: move;
  }
}


#canvek, #area_chart{
  width: 100%;
  height: 100%;
}

.goal_name{
  width: 84%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 17px;
  font-family: Montserrat;
  font-weight: bold;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal !important;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

.delete_option{
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: Montserrat;
  font-weight: bold;
  border-left: 2px solid rgba(0, 0, 0, .3);
}

.slide_goal_id{
  display: none;
}

.delete_option{
  color: #f44242;
  transition: 0.5s !important;

  &:hover{
    background-color: #f44242;
    color: white;
  }
}

.edit_option{
  color: #34495e;
  transition: 0.5s !important;

  &:hover{
    background-color: #34495e;
    color: white;
  }
}

.selectable{
  color: white;
  background-color: #34495e;
}

.cont{
  width: calc(100% - 155px);
  height: calc(100% - 155px);
  margin: 40px;
  //background-color: #90A09A;
  float: left;
}

#goal_settings{
  width: 75px;
  height: 75px;
  float: left;
}

.goal_setting{
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  color: #34495e;
  float: left;
}

textarea{
  resize: vertical;
  width: 244px;
  max-height: 160px;
}

.name{
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: 4px;
  font-size: 15px;
}

.inputek{
  margin: 0 auto;
  display: block;
  border-radius: 2px !important;
  background-color: #34495e !important;
  color: white !important;
  text-decoration: none;
  border: 0;
  font-family: Montserrat;
  font-size: 13px;
  width: 100px;
  height: 30px;
}

.tooltip-inner, .tooltip{
  background-color: white !important;
  color: #2c3e50 !important;
  font-family: Montserrat !important;
  font-size: 13px !important;
  font-weight: bold;
  border-radius: 40px !important;
}

.tooltip {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .20), 0 2px 2px rgba(0, 0, 0, .15), 0px 1px 16px -3px rgba(24, 24, 28, 0.35) !important
}

.tooltip-arrow{
  border-top-color: white !important;
}

#best, #actual{
  width: 50%;
  height: auto;
  text-transform: uppercase;
  font-size: 28px;
  float: left;
  font-family: Montserrat;
  line-height: 28px;
  color: #2c3e50;
  font-weight: bold;
  text-align: center;
  border: 2px solid #2c3e50;
  padding: 10px;
  margin-top: 10px;
}

.off_option{
  background-color: white;
  color: #7f8c8d;
  border: 2px solid #7f8c8d;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  //float: left;
  margin: 3px;
  font-family: Montserrat;
  font-size: 26px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &:hover{
    cursor: pointer;
  }

  &.selectable{
    background-color: #7f8c8d;
    color: white;
    border: 0;
  }
}

#off_options{
  margin: 0 auto;
  text-align: center;
}

.label_options{
  width: auto;
  height: auto;
  text-align: center;
  font-family: Montserrat;
  color: #2c3e50;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
}


[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
  clear: initial;
  float: left;
  margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
  clear: initial;
  float: right;
  margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
  text-align: center;
}

[data-editable] .text-left {
  text-align: left;
}

[data-editable] .text-right {
  text-align: right;
}

.author {
  font-style: italic;
  font-weight: bold;
}

#listOfStaff li{
  color: #34495e;
  font-family: Montserrat;
  text-align: center;
}

#listOfStaff{
  margin: 0 auto;
  padding: 0px 40px !important;

}

